/*기업119 소개*/
.intro{}
.intro ul{  display: flex;   flex-wrap: wrap;}
.intro ul li{margin-right: 1.2%;margin-bottom: 1%;width: 49.4%;}
.intro ul li:nth-child(2n){margin-right: 0;}



/*캘린더 - 기업현장방문 예약*/
.con_boardCal .boardCal .month {  width: 53%;  margin-bottom: 30px;  float: left;}
.con_boardCal .cal_tit { width: auto; display: inline-block; vertical-align: middle; float: left;}
.con_boardCal #test_div { width: auto;  float: right;}
.con_boardCal .cal_tit h3 {  font-size: 1.4em;  font-weight: bold;  color: #4f48b1;  font-family: 'GmarketSans';  margin-top: 12px;  letter-spacing: -.035em;}
.con_boardCal .cal_tit h3:before {  content: "";   display: inline-block;   width: 23px; height: 22px; background: url(/seit/images/content/cal_ico.png)no-repeat; vertical-align: middle; margin-right: 5px;}
.con_boardCal .boardCal .month .calUtil { position: relative;line-height: 40px;text-align: center;border-radius: 15px 15px 0 0;}
.con_boardCal .boardCal .month .calUtil strong {font-size: 2em; font-weight: bold; color: #000; font-family: 'GmarketSans';}
.con_boardCal .boardCal .month .calUtil strong em { color: #04a3bd; font-size: 1.3em;}
.con_boardCal .boardCal .month .calUtil button { float: left; height: 17px; font-family: "Noto Sans KR"; font-size: 1.2em;}
.con_boardCal .boardCal .month .calUtil button.mPrev { position: absolute; left: 15px; top: 30%; background: url('/gnCorp119/images/common/cal_arr_l.png') no-repeat 0% 50%; color: #7c7c7c; padding-left: 15px; line-height: 0;}
.con_boardCal .boardCal .month .calUtil button.mNext { position: absolute; right: 15px; top: 30%; background: url('/gnCorp119/images/common/cal_arr_r.png') no-repeat 100% 50%; color: #7c7c7c; padding-right: 15px; line-height: 0;}
.con_boardCal .boardCal .month table thead th {background-color: #04a3bd; padding: 10px 5px; color: #FFF; font-weight: bold; font-size: 1.05em;}
.con_boardCal .month table tbody td span {  padding: 20px 5px;}
.con_boardCal .month table tbody td a.check { top: auto; bottom: 5px; width: 10px; height: 10px; background-color: #e94f7e; left: 90%;}
.con_boardCal .boardCal .month table tbody { border-left: 1px solid #e0e0e0;}
.con_boardCal .boardCal .month table tbody td { border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;}
.con_boardCal .boardCal .month table tbody td:hover { background-color: #fdeadf;}
.month table { table-layout: fixed; width: 100%; padding: 0; border-collapse: collapse; border-spacing: 0;}
.month table thead th { padding: 15px; color: #000; border-bottom: 1px solid #d8d3d2; border-top: 1px solid #d8d3d2;}
.month table tbody tr:last-child td {border-bottom: none;}
.month table tbody tr td:last-child {border-right: none;}
.month table tbody td { position: relative;}
.month table tbody td span {display: block; padding: 9px 5px; color: #727272; text-align: center; font-size: 0.95em;}
.month table tbody td span:hover , .month table tbody td span:focus, .month table tbody td.on a {  /* background:#ebf2f8; */}
.month table tbody td a.check {  width: 4px; height: 4px;background: #cd4870;font-size: 0;text-indent: -9999em;border-radius: 100%;margin: 0 auto;position: absolute;top: 37px;/* left: 27px; */padding: 0;left: 50%;transform: translateX(-50%);}
.con_boardCal .month table tbody td span.today {width: 30px; height: 30px;padding: 0;margin: 0px auto;line-height: 30px;background-color: #0c75a9;color: #fff;border-radius: 50px}
.remark {float: right;background: #f4f4f4;/* border-radius: 19px; */margin-top: 10px;padding: 2px 15px 4px 15px;}
.remark p {display: inline-block;color: #767676;font-size: 0.9em;margin-right: 10px;}
.remark p:last-child {margin-right: 0;}
.remark p:before { content: ""; display: inline-block; width: 10px; height: 10px; border-radius: 20px; margin-right: 5px;}
.remark p.r_blue:before {background: #00f;}
.remark p.r_red:before {background: #ff0000;}
.remark p.today:before {background: #0c75a9;}
.remark p.select:before {background: #fdeadf;border-radius: 0;border: 1px solid #e7cab9;}
.mo_scroll{/* float:left; */display: none;/* margin-top: 22px; */}
.info_wrap {width: 44%;float: right;margin-top: 45px;}
.info { height: 384px; /* border: 1px solid #cdcdcd; */ margin-bottom: 10px; border-radius: 20px; background: #e5f3f9; text-align: center; padding: 25px;}
.info div.giup_list{border-radius: 15px;     height: auto;    overflow-y: scroll; max-height:100%;}
.info div.giup_list{  -ms-overflow-style: none;}
.info div.giup_list::-webkit-scrollbar{display:none;}
.info div.giup_list table{ border-top: 0;}
.info div.giup_list table thead th{background: #0c90a5;color: #fff;padding: 10px 0;}
.info div.giup_list table tbody td{padding: 10px 10px;}
.info div.giup_list table tbody tr:last-child td{  border-bottom: none;}
.info_day_detail {display: flex;justify-content: space-between;}
.info_day_detail h3 {font-family: 'GmarketSans';color: #000;font-size: 1.1em;}
.info_day_detail h3:before { content: ""; display: inline-block; width: 24px; height: 23px; background: url(/gnCorp119/images/common/calInfo_ico_03.png); vertical-align: middle; margin-right: 5px;}
.info_day_detail p{line-height: 1.3;/* text-align: right; */font-size: 0.9em;background: #f4f4f4 url(/gnCorp119/images/common/no_reserve.png)no-repeat 5% 50%;padding: 10px 15px 10px 50px;border-radius: 10px;color: #8d8d8d;margin-top: 5px;}


div.giup_list {font-size:0.95em;/* border-radius: 15px; *//* border: 1px solid #dddddd; *//* box-shadow: 12px 10px 0 #eae9f1; */overflow: hidden;}
div.giup_list table {width:100%;border-spacing:0;border-collapse:collapse;border-top: 2px solid #2da3b6;table-layout:fixed;}
div.giup_list table thead th {background-color: #f9f9f9;color:#353535;font-weight:bold;text-align:center;padding:15px 0;border-bottom: 1px solid #dbdbdb;}
div.giup_list table tbody td {padding:14px 10px;text-align:center;border-bottom:1px solid #cecece;background: #fff;}
div.giup_list table tbody td.title {text-align:left;font-size: 16px; line-height: 130%;-webkit-line-clamp: 1;}
div.giup_list table tbody td.title p.sub {margin-top: 8px;color:#333;font-size:14px;letter-spacing: 0px;}
div.giup_list table tbody td.title img {vertical-align:middle;}
div.giup_list table tbody td.link img.ico_blank {display:inline-block;padding-left:10px;}
div.giup_list table tbody th {padding:15px 0;text-align:center;border-right:1px solid #cecece;border-bottom:1px solid #cecece;font-weight:bold;}

/*캘린더 - 지원사업 일정*/
.con_boardCal .boardCal .month.schedule { width: 100%;}
.con_boardCal .boardCal .month.schedule .calUtil button.mPrev, .con_boardCal .boardCal .month.schedule .calUtil button.mNext { border: 1px solid #bdbdbd; width: 40px; height: 40px; text-align: center; margin: 0 auto; background-position: 50% 50%; border-radius: 50px; top: 0;}
.con_boardCal .month.schedule table tbody td > span { text-align: left; padding: 0; position: absolute; top: 10px; left: 10px;}
.con_boardCal .month.schedule table tbody td a span { text-align: left; padding: 0; position: absolute; top: 10px; left: 10px;}
.con_boardCal .month.schedule table tbody td > a { display: block; width: 100%; height: 100%;}
.con_boardCal .month.schedule table tbody td.today { width: 30px; height: 30px; margin: 0; text-align: center; background-color: #dbf3f5 !important; /* font-weight: bold; */}
.con_boardCal .month.schedule table tbody td.today span { color: #0d3558;}
.con_boardCal .boardCal .month.schedule table tbody td { padding: 38px 0 0 0; height: 158px; position: relative;}
.con_boardCal .boardCal .month.schedule table tbody td:hover { background: transparent;}
.con_boardCal .boardCal .month.schedule .r_01:before { background: #d34343;}
.con_boardCal .boardCal .month.schedule .r_02:before { background: #eb7d2f;}
.con_boardCal .boardCal .month.schedule .r_03:before {background: #e9ac00;}
.con_boardCal .boardCal .month.schedule .r_04:before {  background: #5ca948;}
.con_boardCal .boardCal .month.schedule .r_05:before {  background: #23a7cb;}
.con_boardCal .boardCal .month.schedule .r_06:before {  background: #4d53db;}
.con_boardCal .boardCal .month.schedule .r_07:before { background: #9b56d3;}
.con_boardCal .boardCal .month.schedule .r_08:before { background: #5f616d;}
.sch_list { position: absolute; width: 93%; top: 50px; left: 50%; transform: translateX(-50%);}
.sch_list > li { width: 100%; color: #fff; margin-bottom: 5px; border-radius: 5px; padding: 2px 7px; font-size: 0.9em;}
.sch_list li.r_01 { background: #d34343;}
.sch_list li.r_02 {  background: #eb7d2f;}
.sch_list li.r_03 {  background: #e9ac00;}
.sch_list li.r_04 {  background: #5ca948;}
.sch_list li.r_05 {background: #23a7cb;}
.sch_list li.r_06 { background: #4d53db;}
.sch_list li.r_07 { background: #9b56d3;}
.sch_list li.r_08 { background: #5f616d;}
.sch_list li.sch_more {cursor: pointer;padding: 0;width: 100%;display: block;text-align: center;color: #04a3bd;border: 1px solid #04a3bd;border-radius: 5px;padding: 0 !important;background: #fff;}
.con_boardCal .month table tbody td .sch_list li.sch_more span { padding: 0; color: #04a3bd; display: inline-block; font-weight: 500;}
.con_boardCal .month table tbody td .sch_list li.sch_more span:after { content: ""; display: inline-block; width: 0; height: 0; border-bottom: 5px solid transparent; border-top: 5px solid #04a3bd; border-left: 5px solid transparent; border-right: 5px solid transparent;  vertical-align: sub;  margin-left: 5px;}
.con_boardCal .boardCal .month.schedule .daily_detail {  display: none;  border: 1px solid #333;  margin-top: 10px;  color: #333;  padding: 45px 10px 20px 10px;  position: absolute;  z-index: 9;  background: #fff;  top: 140px;  left: 0;  width: 100%;  border-radius: 10px; height: auto; box-shadow: 0 5px 10px rgba(0,0,0,0.3);}
.con_boardCal .boardCal .month.schedule .daily_detail.active {display: block;}
.con_boardCal .boardCal .month.schedule .daily_detail .sch_list { position: unset; transform: unset; width: 100%;}
.con_boardCal .boardCal .month.schedule .daily_detail a {display: block; width: 100%; line-height: 1.4;}
.con_boardCal .boardCal .month.schedule .daily_detail .detail_close{ position: absolute; top: 3px; right: 3px; width: 27px; height: 27px; background: #393939; padding: 7px 0px 0px; border-radius: 50px; text-align: center;}

/*  사이트맵 */
.sitemap_wrap:after { display: block; content: ''; clear: both;}
.sitemap_wrap .group { float: left; width: calc(100% / 4); height: auto;}
.sitemap_wrap .group.group6 { height: 1200px;}
.sitemap_wrap .group > li {  margin-bottom: 0;  width: 87%;  margin: 0 auto;}
.sitemap_wrap .group > li > a {display: block; font-size: 1.2rem; color: #2497b9; text-align: center; margin-bottom: 0;border-bottom: 1px solid #d8d8d8; border-top: 2px solid #2a9cb7; padding: 15px 0; margin-bottom: 18px; font-weight: 600; font-family: 'GmarketSans';}
.sitemap_wrap .group > li > ul { /* width:90%; */   margin: 0 auto;}
.sitemap_wrap .group > li > ul > li { border: 1px solid #e0e0e0; margin-bottom: 15px; background-color: #f7f7f7;}
.sitemap_wrap .group > li > ul > li a { padding: 8px 8px 8px 20px; border: none; display: inline-block;}
.sitemap_wrap .group > li > ul > li > a { color: #333; font-size: 1.05em;}
.sitemap_wrap .group > li > ul > li > a::before {  content: ""; display: inline-block; width: 3px;height: 3px;background: #333;vertical-align: middle;margin-right: 10px;}
.sitemap_wrap .group > li > ul > li > ul { background: #f8f8f8; padding: 15px 20px; margin: 0; margin-bottom: 15px; margin-top: 10px;}
.sitemap_wrap .group > li > ul > li > ul > li a { padding: 0px 8px 9px 0; border: none; margin-bottom: 0px; background: none;}
.sitemap_wrap .group > li > ul > li > ul > li > ul > li a {padding: 0px 8px 9px 16px;color: #696969;font-size: 0.95em;}
.sitemap_wrap .group > li > ul > li > ul > li > ul > li a:before {width: 6px; height: 1px; background-color: #949494;}
.sitemap_wrap .group > li > ul > li > ul > li a:before { width: 4px; height: 4px; background: #666; vertical-align: middle; margin: 0 10px; display: inline-block; content: ""; border-radius: 50%;}

/*로그인*/
.login_con {}
.login_con .tabmn {}
.login_content {  padding: 76px 0;  border: 1px solid #e0e0e0;  margin: 30px 0;  position: relative;}
.login_box { width: 73%; margin: 0 auto;  padding-left: 300px;}
.login_box:before { content: ""; display: inline-block; width: 293px; height: 202px; position: absolute; top: 106px; left: 98px; background: url(/gnCorp119/images/common/login.png)no-repeat;}
.login_input_box { display: flex; justify-content: space-between; flex-direction: column;}
.login_input_box > p{  margin-bottom: 10px;}
.login_input { width: 100%; /* margin-bottom: 17px; */}
.login_input strong {  font-size: 1.1em;}
.login_input + .btn { width: 100%; background: #1797cb; border: none; border-radius: 7px; height: 50px; font-size: 1.1em;font-weight: 500;}
.login_box .login_input input {  width: 100%;  height: 50px;  border-radius: 5px;  margin-bottom: 16px;}
.login_box .login_btn {  margin: 0 auto; text-align: center; margin-top: 17px; font-size: 0.95em;}
.login_box .login_btn li { display: inline-block;}
.login_box .login_btn li:after { content: ""; display: inline-block; width: 1px; height: 16px; background: #c5c5c5; margin: 0 7px; vertical-align: middle;}
.login_box .login_btn li:last-child:after { display: none;}

/* 회원가입 */
.agreeChk{
    text-align:right; padding:20px 0;
}
.agreeChk label{margin-right:10px;}
.agreeChk input[type="checkbox"]{width:20px; height:20px; border:none;}

.joinList{padding: 15px 15px;border:1px solid #d6d6d6;}
.joinList ol{display: flex;margin: 0 auto;padding:15px 0 0 0;width: 800px;max-width: 100%;justify-content: center;}
.joinList ol:after{clear:both; content:""; display:block;}
.joinList ol li{/* float:left; */width: 33%;text-align: center;position:relative;margin-right: 15%;}
.joinList ol li::after{content:"";display:block;position:absolute;width:22px;height:59px;background:url('/gnCorp119/images/contents/join_arr.png')no-repeat;top:0px;right: -63px;}
.joinList ol li:last-child{margin-right:0px;}
.joinList ol li:last-child::after{display:none;}
.joinList ol li span{display:block;margin: 0 auto;background: linear-gradient(-20deg, rgba(47,160,181,1) 0%, rgba(23,140,200,1) 100%);width: 100px;height: 28px;border-radius:15px;text-align:center;line-height: 28px;color:#fff;/* font-size:0.7em !important; */margin-bottom:10px;}
.joinList ol li p{display:block;padding: 0px 0 15px 60px;background-repeat:no-repeat;background-position: 0px 50%;font-size:1.200em;font-weight:600;color:#444;/* text-align: center; */}
/* .joinList ol li p:hover , .joinList ol li a:focus , .joinList ol li.on a{border-bottom:5px solid #004ea2; color:#004ea2; text-decoration:none;} */
.joinList ol li.ico1 p{background-image:url('/gnCorp119/images/contents/join_ico_01.png');}
.joinList ol li.ico2 p{background-image:url('/gnCorp119/images/contents/join_ico_02.png');}
.joinList ol li.ico3 p{background-image:url('/gnCorp119/images/contents/join_ico_03.png');}
.btnwrap.join a {text-indent:0;}

/* 사이트맵 */
.sitemap_wrap{ width:100%;}
.sitemap_wrap .sitemap.user{display:flex;flex-wrap: wrap;}
.sitemap a{ display:block;}

/* 1depth */
.sitemap li{position:relative;}
.sitemap > li{height:330px;}
.sitemap.admin > li:nth-child(4), .sitemap > li:nth-child(5){height:auto;}
.sitemap > li{/* float:left; */width: 25%;padding:20px 28px 30px 0;}
.sitemap.user > li{height: auto;}
.sitemap.user > li.auto{height:auto;}
.sitemap > li > a{font-size:1.4em;color: #fff;letter-spacing:-1.5px;font-weight:bold;padding: 15px 5px 15px 13px;border-style:solid;background: #2599ce;border: 1px solid #ddd;/* border-top: 3px solid #2599ce; */border-bottom: 0px solid #ddd;text-align:center;border-radius: 30px 30px 0px 0px;box-shadow: 0px 5px 0px rgb(41 154 183 / 30%);}
.sitemap > li:before{content:""; display:inline-block; position:absolute; top:43px; right:31px; width:15px; height:11px; margin:0 4px 3px 0; vertical-align:middle;}

/* 2depth */
.sitemap li > ul{padding: 8px 10px 0px;border: 1px solid #ddd;border-top: 0px solid #fff;/* height: 174px; */border-radius: 0px 0px 30px 30px;overflow: hidden;}
.sitemap li > ul > li:before{content:"";display:inline-block;position:absolute;top: 19px;left:14px;width:3px;height:3px;/* background:#aaa; */vertical-align:middle;border-radius: 10px;}
.sitemap li > ul > li > ul > li:before{content:none;left:27px;vertical-align:middle;}
.sitemap li > ul > li a{font-size: 1.1rem;padding: 8px 8px 8px 5px;text-align: center;border-bottom: 1px dashed #dcdcdc;}
.sitemap li > ul > li:last-child a{border-bottom:0px;}
.sitemap li > ul > li a img{margin-left:4px; padding-top:6px;}
.sitemap li > ul > li > ul > li a{padding:6px 8px 6px 33px;}
.sitemap li > ul > li > ul{padding:0px;}

@media all and (max-width: 1220px) {
}

@media (max-width: 979px) {

    /* 캘린더 */
    .sch_wrap{  overflow-x: scroll;  width: 100%;}
    .month table{  width: 930px;}
    .mo_scroll{display:block;}
    .remark{float:none;}

    /*기업현장방문*/
    .con_boardCal .boardCal .month{  width: 100%;}
    .info{height:auto;}
    .info_wrap{width: 100%;margin-top: 0;}

    
    /*사이트맵*/
    .sitemap_wrap .group > li > a { display: block;margin-bottom: 0;font-size: 1.5em; width: 100%; padding: 15px 0 5px;}
    .sitemap_wrap .group > li > ul {width: 100%;}
    .sitemap_wrap .group { margin-bottom: 30px;}
    .con_boardCal .boardCal .month.schedule .daily_detail{   width:177px; }
    .con_boardCal .boardCal .month.schedule table tbody tr td:nth-child(5) .daily_detail,
    .con_boardCal .boardCal .month.schedule table tbody tr td:nth-child(6) .daily_detail,
    .con_boardCal .boardCal .month.schedule table tbody tr td:nth-child(7) .daily_detail{ left: auto;  right: 0px;}


    /* 회원가입 */
    .joinList ol{display:block;}
    .joinList ol li{width: 200px;margin: 0px auto 90px;}
    .joinList ol li:last-child{margin: 0 auto 0;}
    .joinList ol li::after{transform:rotate(90deg) translateX(-50%);top: auto;bottom: -77px;right:50%;}
	.btnwrap.join a {text-indent:0;}

/* 사이트맵 */
    .sitemap > li{width:50%;}

    /*로그인*/
    .login_content{  padding: 50px 0;}
    .login_box{width: 90%;padding-left: 0;}
    .login_box:before{display:none;}
}

@media all and (max-width: 600px) {
}

@media all and (max-width: 480px) {

/*기업119 소개*/
.intro ul li{
    width: 100%;
    margin-right: 0;
}
    
.con_boardCal .month table tbody td .sch_list li.sch_more span::after{display:none;}
/* 사이트맵 */
    .sitemap > li{width:100%;}

    .info_day_detail{  display: flex;  flex-direction: column;}
    .info_day_detail br{display:none;}
}
                                                                                                                                                                                                                         