@charset "utf-8";

/* main content */

/* section-1 */
section.section01{background: #26a8b3 url(../images/main/main_bg_02.png) no-repeat;padding-bottom: 50px;}
.search_area{text-align: center;padding: 50px 0px 10px;}
.search_area fieldset{/* overflow: hidden; */position: relative;border-radius: 50px;background:#FFF;width: 730px;margin:0 auto;display:flex;justify-content: space-between;font-size: 1.25rem;}
.search_area fieldset::after{position: absolute;bottom: 0px;left: -227px;content:"";display:block;width:266px;height:104px;background: url(../images/main/searchj_img_03.png) no-repeat;}
.search_area select{text-align: center;height:72px;border:none;width: 25%;}
.search_area input{width: 65%;text-align: left;height:72px;border:none;padding: 0px 20px;font-size: 1.2rem;font-weight: 500;/* color: #9d9d9d; */font-family: 'Noto Sans KR';}
.search_area input::placeholder{font-size: 1.2rem;font-weight: 500; color:#9d9d9d;}
.search_area a{display: block;width:10%;height: 73px;background: #073c69;border-radius: 50%;font-size: 0px;color: transparent;background: #073c69 url(../images/main/search_img_03.png) no-repeat center;}

.main_flex_area {padding:10px 0px 0px;} 
.main_flex_area .dv_wrap{display:flex;flex-wrap: nowrap;justify-content: space-between;}
.main_flex_area .board_area{width:710px;}
.main_flex_area .board_area .board_slide{overflow: hidden;background:#fff;border-radius:30px;position:relative;}
.main_flex_area .board_area .board_slide span.cate{position:absolute;top:0px;left:65px;padding:12px 35px 12px 65px;color:#fff;border-radius: 0px 0px 20px 20px;font-family: 'SEBANG';font-size: 1.3rem;}
.main_flex_area .board_area .board_slide span.cate.gnsup{background: #404be2 url(../images/main/crown_07.png) no-repeat top 12px left 30px;}
.main_flex_area .board_area .board_slide span.cate.govsup{background:#a546dc url(../images/main/crown_07.png) no-repeat top 12px left 30px;}
h3.board_tit{margin-bottom: 30px;display: inline-block;color: #000;font-size: 1.9rem;padding-left:0px;line-height: 2.6rem;vertical-align: middle;}
.board_txt{font-size:1.2rem;text-overflow: ellipsis;overflow: hidden;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.board_date{font-size:1.1rem;color:#939393;position: absolute;bottom: 38px;right: 70px;}
.main_flex_area .board_area .board_slide li{padding: 75px 73px 85px;letter-spacing: -0.05rem;}
.board_slide .ing{font-size:1.1rem;font-weight:400;color: #fff;background:#d6423b;padding: 0px 20px;border-radius:50px;margin-right:10px;display: inline-block;vertical-align: bottom;line-height: 2.2rem;}
.board_slide .swiper-button-next{top: 50%!important;right:15px!important;background:url(../images/main/btn_right_07.png) no-repeat;width: 15px;}
.board_slide .swiper-button-prev{top: 50%!important;left:15px!important;background:url(../images/main/btn_left_07.png) no-repeat;width: 15px;}

.board_tab{width: 100%;background:#fff;border-radius:30px;margin-top:12px;overflow: hidden;}
.board_tab .brd1_tabs button{font-family: 'SEBANG';text-align: center;padding: 12px 0px;width: 50%;background: #e2e3e7;font-size: 1.25rem;font-weight: 600;display: inline-block;color: #a6a8b0;}
.board_tab .brd1_tabs button.active{background:#0e4c80; color:#fff;}
.board_tab .brd1_conts{padding:20px 40px;}
.board_tab .brd1_conts .brd-con{display:none;}
.board_tab .brd1_conts .brd-con.active{display:block;}
.board_tab .brd1_conts .brd-con li{padding-bottom: 20px;padding-top: 20px;}
.board_tab .brd1_conts .brd-con li:first-child{padding-top:0px; border-bottom:1px solid #d5d5d5;}
.board_tab .brd1_conts .brd-con li:last-child{padding-bottom:0px; border-top:1px solid #d5d5d5;}
.board_tab .brd1_conts .brd-con li a{display:flex;justify-content: flex-start;}
.board_tab .brd1_conts .brd-con span.state{/* padding: 2px 13px; */background:#d6423b;color:#fff;border-radius:5px;margin-right: 10px;width: 70px;text-align: center;}
.board_tab .brd1_conts .brd-con span.state.soon{background:#2398e2;}
.board_tab .brd1_conts .brd-con h2{width: 400px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;margin-right: 70px;}


.calendar_area{width:465px;}
.calendar_area .cal_month{display:flex;justify-content: space-between;padding: 0px 0px 15px;}
.calendar_area .this_month{font-family:'SEBANG'; font-weight:600; font-size:1.5rem; color:#000;}
.calendar_cont{padding: 20px 40px;background:#fff;border-radius:30px;/* overflow:hidden; */}
.calendar_table{/* padding:0px 40px; */}
.calendar_cont .calTb{width:100%;text-align:center;border-bottom: 1px solid #cdcdcd;}
.calendar_cont .calTb thead{position:relative;}
.calendar_cont .calTb thead::after{content:"";display:block;background:#e1f4fa;width: 465px;height:100%;position:absolute;top:0px;left: -40px;z-index: 0;}
.calendar_cont .calTb thead th{padding:10px 0px;position:relative;z-index:1;color: #778f97;font-weight: 400;}
.calendar_cont .calTb td{padding:10px 0px; position:relative;}
.calendar_cont .calTb td a.date{width:35px;height:35px;display: block;margin: 0 auto;line-height: 1.9rem; position:relative;}
.calendar_cont .calTb td a.today{background:#1289e5;color:#fff;border-radius:50px;}
.calendar_cont .calTb td a.cal_dot::after{content:"";display:block;position:absolute;width:5px;height:5px;background:#073c69;border-radius:5px;bottom: 3px;left: 50%;transform: translate(-50%, 10px);}
.calendar_cont .calTb td a p{text-align:center;}
.calendar_cont .daily_detail{display:none;}
.calendar_cont .daily_detail.active{z-index: 9;width: 300px;/* height: 240px; */display:block;position:absolute;top: 50%;left: 50%;padding: 20px 25px;background: rgba(255, 255, 255, 0.9);border-radius: 20px;border: 1px solid #c9c9c9;box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);}
.calendar_cont .daily_detail.active .close{position:absolute;top: 5px;right: 5px;width: 27px;height: 27px;background:#393939;padding: 7px 0px 0px;border-radius: 50px;}
.calendar_cont .daily_detail li{}
.calendar_cont .daily_detail li a p{text-align: left;text-overflow: ellipsis;overflow: hidden;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.calendar_cont .daily_detail li a{display: block;position:relative;padding: 15px 15px 15px;border-bottom: 1px solid #dfdfdf;}
.calendar_cont .daily_detail li a::before{content:"";display:block;width:6px;height:18px;position:absolute;top: 19px;left: 0px;border-radius:6px;}
.calendar_cont .daily_detail li a.detail_col1::before{background:#d64e61;}
.calendar_cont .daily_detail li a.detail_col2::before{background:#5c69ea;}
.calendar_cont .daily_detail li a.detail_col3::before{background:#289bbc;}
.calendar_cont .daily_detail li a.detail_col4::before{background:#f49c1e;}
.calendar_cont .daily_detail li a.detail_col5::before{background:#41a744;}
.calendar_cont .daily_detail li a.detail_col6::before{background:#d35adb;}
.calendar_cont .daily_detail li a.detail_col7::before{background:#213988;}
.calendar_cont .daily_detail li a.detail_col8::before{background:#878787;}
.calendar_cont .daily_detail li a.more{display: inline-block;background: #26a8b3;margin-top: 20px;border-bottom:none;padding: 3px 16px;border-radius: 50px;color: #fff;}
.calendar_info{padding: 5px 0px;display:flex;justify-content: flex-end;}
.calendar_info li{font-size:0.8rem;}
.calendar_info li:first-child{position:relative;padding-left: 23px;margin-right: 20px;}
.calendar_info li:first-child::before{content:"";display:block;width:17px;height:17px;position:absolute;left:0px;top: 5px;background:#1289e5;border-radius:10px;}
.calendar_info li:last-child{position:relative;padding-left: 15px;}
.calendar_info li:last-child::before{content:"";display:block;width:5px;height:5px;position:absolute;left:0px;top: 11px;background: #073c69;border-radius:10px;}
.calendar__color{background: #f4f4f4;padding: 20px 70px;border-radius: 15px;}
.calendar__color ul{display:flex;flex-wrap: wrap;justify-content: space-between;}
.calendar__color ul li{width:25%;font-size:0.9rem;position:relative;padding-left: 10px;text-align: center;}
.calendar__color ul li::before{content:"";display:block;width: 5px;height:14px;position:absolute;top: 5px;left: 10px;border-radius: 5px;}
.calendar__color ul li.cal_color1::before{background:#d64e61;}
.calendar__color ul li.cal_color2::before{background:#5c69ea;}
.calendar__color ul li.cal_color3::before{background:#289bbc;}
.calendar__color ul li.cal_color4::before{background:#f49c1e;}
.calendar__color ul li.cal_color5::before{background:#41a744;}
.calendar__color ul li.cal_color6::before{background:#d35adb;}
.calendar__color ul li.cal_color7::before{background:#213988;}
.calendar__color ul li.cal_color8::before{background:#878787;}


.apply_area{width:350px;font-family:"SEBANG";}
.apply_area .apply1 a{display:block; padding: 50px 50px 140px;background:#fff url(../images/main/apply1_bg_11.png) no-repeat bottom right;border-radius:30px;text-align:left;}
.apply_area .apply1 a:hover{text-decoration:none;}
.apply_area .apply1 h4{font-size:2.4rem;line-height:2.6rem;color:#000;padding: 0px;margin-bottom: 30px;}
.apply_area .apply1 h4 span{color:#129de5;}
.apply_area .apply1 a > span{padding: 7px 35px 7px 25px;background: #12275c url(../images/main/arr_wt_11.png) no-repeat top 10px right 14px;color:#fff;border-radius: 50px;font-size: 1.1rem;}
.apply_area .apply2 a{display:block;background:#fff url(../images/main/apply2_bg_19.png) no-repeat left 35px top 30px;padding: 45px 0px 40px 100px;text-align:left;font-size:1.4rem;font-weight:600;color:#000;border-radius:30px;margin-top:15px;position:relative;}
.apply_area .apply2 a::after{content:"";display:block;width:29px;height:29px;position:absolute;top: 50%;right: 40px;background:#26a8b3 url(../images/main/arr_wt_11.png) no-repeat center;border-radius:50px;transform: translate(0%, -50%);}
.apply_area .apply3 a{display:block;background:#fff url(../images/main/apply3_bg_22.png) no-repeat left 35px top 30px;padding: 45px 0px 40px 100px;text-align:left;font-size:1.4rem;font-weight:600;color:#000;border-radius:30px;margin-top:15px;position:relative;}
.apply_area .apply3 a::after{content:"";display:block;width:29px;height:29px;position:absolute;top: 50%;right: 40px;background:#26a8b3 url(../images/main/arr_wt_11.png) no-repeat center;border-radius:50px;transform: translate(0%, -50%);}

/* section-2 */
.section02{margin-top:30px;}
.category_area{display:flex;/* padding: 17px 0px 0px 0px; */}
.category_area h2{font-family:'SEBANG';font-size:1.3rem;padding: 17px 90px 17px 30px;background: url(../images/main/check_25.png) no-repeat 0px 17px;}
.category_area h2 span{color:#26a8b3;}
.category_area ul{width: calc(100% - 258px);display:flex;}
.category_area ul li{padding: 17px 0px 17px;width: 12.5%;display:block;text-align: center;border-left: 1px dashed #d9d9d9;}
.category_area ul li a{padding-left: 35px;position:relative;}
.category_area ul li a::after{display:block;content:"";position:absolute;background: url(../images/main/cate_ico.png) no-repeat;left:0px;top:0px;width:25px;height: 27px;}
.category_area ul li:nth-child(2) a::after{background-position:-25px;}
.category_area ul li:nth-child(3) a::after{background-position:-50px;}
.category_area ul li:nth-child(4) a::after{background-position:-75px;}
.category_area ul li:nth-child(5) a::after{background-position: -100px;width: 30px;}
.category_area ul li:nth-child(6) a::after{background-position: -130px;}
.category_area ul li:nth-child(7) a::after{background-position: -155px;}
.category_area ul li:nth-child(8) a::after{background-position: -180px;}

/* section-3 */
.section03{margin-top:80px;margin-bottom: 60px;}
.section03 .dv_wrap{display:flex;}
.info_area{width:473px;height:473px;margin-right: 56px;position: relative; border-radius:30px; overflow:hidden;}
.info_area .slide_ctl{position:absolute; bottom:0px; right:0px; background:rgba(0, 0, 0, 0.5); padding:10px 20px}
.info_area .slide_ctl .page{display:inline-block;color:#fff;font-size: 1.1rem;margin-right: 10px;}
.info_area .slide_ctl button{background:url(../images/main/btn_ctrl.png) no-repeat; width:11px; height:15px;}
.info_area .slide_ctl button.pop_ctrl_prev{background-position: 1px;margin-right: 10px;}
.info_area .slide_ctl button.pop_ctrl_play{background-position:-11px;margin-right: 10px;}
.info_area .slide_ctl button.pop_ctrl_stop{background-position: -25px;margin-right: 10px;}
.info_area .slide_ctl button.pop_ctrl_next{background-position: -40px;}

.tab_area{width:calc(100% - 529px);position: relative;}
.tab_area .brd2_tabs{width:100%;display:flex;background:#eee;border-radius:15px;overflow: hidden;}
.tab_area .brd2_tabs button{width: calc((100% - 85px) / 3);font-family:'SEBANG';font-size:1.5rem;font-weight:600;color:#a1a1a1;padding:30px 0px;}
.tab_area .brd2_tabs button.active{background: rgb(22,124,172);background: linear-gradient(90deg, rgba(22,124,172,1) 0%, rgba(21,161,190,1) 100%);color:#fff; position:relative;}
.tab_area .brd2_tabs button.active::after{content:"";display:block;position:absolute;width:23px;height:23px;top:50%;left: 28%;background: url(../images/main/check_wt_33.png) no-repeat;transform: translate(0px, -50%);}
.tab_area .brd2-conts {margin-top:40px;}
.tab_area .brd2-conts .brd2-con{display:none;}
.tab_area .brd2-conts .brd2-con.active{display:block;}
.tab_area .brd2-conts .brd2-con .more{position:absolute;top: 0px;right: 0px;padding: 31px;background: #e5e5e5;border-radius: 0px 15px 15px 0px;}
.tab_area .brd2-conts ul{display:flex;flex-wrap: wrap;justify-content: space-between;}
.tab_area .brd2-conts ul li{width:calc((100% - 17px) / 2);border:1px solid #d7d7d7;border-radius:15px;margin-bottom:20px;transition: 0.3s all;}
.tab_area .brd2-conts ul li a{width: 100%;padding:30px;display: block;}
.tab_area .brd2-conts ul li:hover{border:1px solid #167cac; box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1);} 
.tab_area .brd2-conts ul li:nth-child(2n-1){margin-right:17px;}
.tab_area .brd2-conts ul li a div{float:left;}
.tab_area .brd2-conts ul li a div.img_box{border-radius:10px; overflow:hidden; margin-right:20px;}
.tab_area .brd2-conts ul li a div.txt_box h4{color:#000;margin: 0px 0px 10px 0px;padding: 0px;font-size: 1.4rem;font-weight: 500;}

/* banner */
#bnr{border: 1px solid #e2e2e2;padding: 20px 0px 20px 0px;}
#bnr .dv_wrap{display:flex;/* padding: 0px 0px 20px 0px; */}
.bnrCtrl{width:15%;display: flex;padding: 10px 0px;font-size: 1.1rem;color: #000;}
.bnrCtrl .tit{margin-right: 27px;font-family:'SEBANG'}
.bnrCtrl ul{/* display:flex; */padding: 6px 0px 5px;}
.bnrList{width:85%;}
#bnr .bnrCtrl ul li{margin-right:17px; float:left;}
#bnr .bnrCtrl ul li a {display: block;width: 10px;height: 11px;font-size: 0;text-indent: -9999em;margin-left: -1px;background: #fff url('../images/main/bnr_ctrl.png') no-repeat;}
#bnr .bnrCtrl ul li a.prev {background-position:0px}
#bnr .bnrCtrl ul li a.stop {background-position: -12px;width:9px; display:none;}
#bnr .bnrCtrl ul li a.play {background-position:-25px; display:none;}
#bnr .bnrCtrl ul li a.next {background-position: -36px;}
#bnr .bnrCtrl ul li a.on {display: block;}
#bnr .bnrCtrl ul li a.all{background-position: -47px;width: 13px;}

/* mobile */

@media all and (max-width:1220px){

}



@media (max-width: 979px){

}


@media all and (max-width:480px){

}




@media all and (max-width:360px){
}


                                                         